* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

/* ________header________ */

.header-index {
    background-color: #c2372d;
    padding: 30px;
    border: black solid 3px;

}

.portada-h1index {
    font-size: 64px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

.lista-portadaindex ul li {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding-right: 25px;
    text-align: center;
}

@media (min-width: 768px) {
    .header-index {
        text-align: center;
        align-items: center;
    }

    .lista-portadaindex ul li {
        display: inline-block;
        border-right: black solid 2px;
    }
}

/* -----Botones------ */

.btn {
    border: 2px solid black;
    color: aliceblue;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 10px;
    display: block;
    width: 200px;
    text-align: center;
    background-color: rgb(221, 88, 132);

    transform: translate(0px, 5px);


    transition-duration: 1s;
}

.btn:hover {
    background-color: #1f1429;
    transform: scale(1);
    box-shadow: 0px 4px 10px;
}


/* ---------Portada-------- */


.titulo-portada {
    height: 100vh;

    background-image: url(../img/lana\ 4.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-portada h2 {
    background-color: rgba(214, 159, 86, 0.637);
    padding: 15px;
    border-radius: 15px;
    font-size: 30px;

    transition-duration: 1s;
}

.titulo-portada h2:hover {
    background-color: #4f2d6e52;
    transform: scale(1);
    box-shadow: 0px 4px 10px 15px;
}

/* --------PRODUCTOS--------- */

.productos-titulo {
    background-color: bisque;
    text-align: center;
    padding: 20px;
}

.slider-productosindex {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

@media (min-width: 768px) {
    .slider-productosindex {
        display: flex;
        overflow: auto;
        flex-direction: row;
    }
}

/* -----------tarjeta------------ */

.tarjeta-producto {
    border: 2px solid black;
    border-radius: 22px;
    padding: 10px;

    min-width: 300px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.tarjeta-producto h3,
.tarjeta-producto span {
    font-size: 24px;
    padding: 10px;
}

.tarjeta-producto img {
    width: 150px;
    align-items: center;
}

/* --------footer-------- */

footer {
    background-color: coral;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-detalleindex h4 {
    background-color: rgba(192, 237, 245, 0.863);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.footer-detalleindex ul li {
    padding: 10px;
    color: aliceblue;
}


/* =============================================== AMIGURUMIS===================================================== */



/* -------- header--------- */

.header-amigu {
    background-color: rgb(226, 118, 154);
    padding: 15px;
    border: black solid 3px;
    text-align: center;
}

.header-amigu h1 {
    font-size: 50px;
}

.lista-portadaamigu ul li {
    display: flex;
    margin: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}


@media (min-width: 768px) {
    .header-amigu {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .lista-portadaamigu ul li {
        display: inline-block;
        border-right: black solid 2px;
    }
}


/* ------- portada--------- */

.titulo-portadaamigu {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30vh;
    background-image: url(../img/lana\ 6.jpg);
    background-attachment: fixed;
}

.titulo-portadaamigu h2 {
    background-color: rgba(202, 237, 250, 0.726);
    padding: 15px;
    border-radius: 15px;
    font-size: 35px;

    transition-duration: 1s;
}

.titulo-portadaamigu h2:hover {
    background-color: #ec313183;
    transform: scale(1);
    box-shadow: 0px 5px 10px 10px;
}

/* ---------producto--------- */

.slader-productosamigu {
    display: flex;
    overflow: auto;
    padding: 15px;
    gap: 20px;
}


/* --------- tarjeta--------- */

.tarjeta-productoamigu {
    border: 2px solid black;
    border-radius: 22px;
    padding: 10px;

    min-width: 300px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tarjeta-productoamigu img {
    width: 200px;
}

.tarjeta-productoamigu h3,
.tarjeta-productoamigu span {
    font-size: 24px;
    padding: 10px;
}

/* --------footer-------- */

footer {
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-detalleamigu h4 {
    background-color: rgba(192, 237, 245, 0.863);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.footer-detalleamigu ul li {
    padding: 10px;
    color: aliceblue;
}

.color-footer {
    background-color: #38040e;
}

/* ========================================== SOBRE NOSOTROS==================================================== */

/* ----------HEADER---------------- */

.header-nosotros {
    background-color: rgb(226, 118, 154);
    padding: 30px;
    border: black solid 1px;
    text-align: center;

}

.header-nosotros h1 {
    font-size: 65px;
}

.lista-portadanosotros ul li {
    display: flex;
    margin: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .header-nosotros {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .lista-portadanosotros ul li {
        display: inline-block;
        border-right: black solid 2px;
    }
}

/* --------------- PORTADA ------------- */

.titulo-portadanosotros {
    background-color: #1f1429;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border: black solid 3px;
    color: white;
}

/* --------------- SECTION ------------- */

.info-nosotros div h3 {
    font-size: 22px;
    font-style: italic;
    margin-top: 70px;
    margin-bottom: 20px;
    border-style: double;
    display: block;
    align-items: center;
    text-align: center;
    background-color: #e9c1a7cc;
}

.info-nosotros div p {
    font-size: 19px;
    margin-bottom: 15px;
    text-align: justify;
}

@media (min-width: 768px) {
    .info-nosotros div h3 {
        display: inline-block;
    }
}

/* --------------- TARJETA ------------- */

.tarjeta-nosotros {
    text-align: center;
    align-items: center;
}


.tarjeta-nosotros img {
    width: 75%;
    padding: 20px;
    margin: 20px;
    border-style: double;
}

/* --------------- FOOTER ------------- */

footer {
    background-color: rgb(243, 159, 145);
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-detallenosotros h4 {
    background-color: rgba(192, 237, 245, 0.863);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.footer-detallenosotros ul li {
    padding: 10px;
    color: aliceblue;
}

/* ======================== PREGUNTAS FRECUENTES========================== */



/* --------- HEADER---------- */
.header-preguntas {
    background-color: rgb(226, 118, 154);
    padding: 30px;
    border: black solid 1px;
    text-align: center;
}

.header-preguntas h1 {
    font-size: 65px;
}

.lista-portadapreguntas ul li {
    display: flex;
    margin: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .header-preguntas {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .lista-portadapreguntas ul li {
        display: inline-block;
        border-right: black solid 2px;
    }
}

/* --------------- PORTADA ------------- */

.titulo-portadapreguntas {
    background-color: #1f1429;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border: black solid 3px;
    color: white;
}

/* --------------- SECTION ------------- */

.info-preguntas div h3 {
    font-size: 22px;
    font-style: italic;
    margin-top: 70px;
    margin-bottom: 20px;
    border-style: double;
    background-color: #e9c1a7cc;
    text-align: center;
    display: block;
    align-items: center;
    text-align: center;
}

.info-preguntas div p {
    font-size: 19px;
    text-align: justify;
}

@media (min-width: 768px) {
    .info-preguntas div h3 {
        display: inline-block;
    }

}

/* --------------- FOOTER ------------- */

footer {
    background-color: rgb(243, 159, 145);
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-detallepreguntas h4 {
    background-color: rgba(192, 237, 245, 0.863);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.footer-detallepreguntas ul li {
    padding: 10px;
    color: aliceblue;
}

/* ======================== CONTACTO========================== */


/* ----------HEADER---------------- */

.header-contacto {
    background-color: rgb(226, 118, 154);
    padding: 30px;
    border: black solid 1px;
    text-align: center;
}

.header-contacto h1 {
    font-size: 65px;
}

.lista-portadacontacto ul li {
    display: flex;
    margin: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .header-contacto {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .lista-portadacontacto ul li {
        display: inline-block;
        border-right: black solid 2px;
    }
}



/* --------------- PORTADA ------------- */

.titulo-portadacontacto {
    background-color: #1f1429;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border: black solid 3px;
    color: white;
}

/* --------------- PORTADA ------------- */

.seccion-contacto {
    background-image: url(../img/contacto\ 2.jpg);
    background-attachment: fixed;
}

.formulario-contacto div label {
    display: block;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-style: oblique;
}

.formulario-contacto div input,
textarea {
    margin-left: 10px;
    border-radius: 20px;
}

.noti-usuario {
    margin-top: 20px;
}

.noti-usuario input {
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 50px;
}

/* --------------- PORTADA ------------- */

.ubicacion-contacto h3 {
    margin: 20px;
}


/* --------------- FOOTER ------------- */

footer {
    background-color: rgb(243, 159, 145);
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-detallecontacto h4 {
    background-color: rgba(192, 237, 245, 0.863);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}

.footer-detallecontacto ul li {
    padding: 10px;
    color: aliceblue;
}