/* =============================================== INDEX===================================================== */

/* --------footer-------- */

.footer-index {
    background-color: $color-footer;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div h4 {
        background-color: rgba(192, 237, 245, 0.863);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }

    div ul {
        padding: 10px;
        color: aliceblue;
    }
}





/* =============================================== AMIGURUMIS===================================================== */

/* --------footer-------- */

footer {
    background-color: $color-footer;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div h4 {
        background-color: rgba(192, 237, 245, 0.863);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }

    div ul {
        padding: 10px;
        color: aliceblue;   
    }
    
}





/* ========================================== SOBRE NOSOTROS==================================================== */

/* --------------- FOOTER ------------- */

footer {
    background-color: $color-footer;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div h4 {
        background-color: rgba(192, 237, 245, 0.863);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    div ul {
        padding: 10px;
        color: aliceblue;
    }
}



/* ======================== PREGUNTAS FRECUENTES========================== */

/* --------------- FOOTER ------------- */

footer {
    background-color: $color-footer;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div h4 {
        background-color: rgba(192, 237, 245, 0.863);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    div ul {
        padding: 10px;
        color: aliceblue;
    }

}



/* ======================== CONTACTO========================== */

/* --------------- FOOTER ------------- */

footer {
    background-color: $color-footer;
    padding: 20px;
    border-style: double;


    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div h4 {
        background-color: rgba(192, 237, 245, 0.863);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    ul {
        padding: 10px;
        color: aliceblue;
    }
}

